---json
{
  "layout": "projects.liquid"
}
---

    <ul class="projects-nav">
      <li class="project-icon-tag">
        <span class="tag-text">CSS Projects</span>
      </li>
      <li class="project-icon-feat">
        <a href="../feat/index.html">
          <i class="fas fa-star"></i>
        </a>
      </li>
      <li class="project-icon-vue">
        <a href="../vue-pg/index.html">
          <i class="fab fa-vuejs"></i>
        </a>
      </li>
      <li class="project-icon-js">
        <a href="../js-pg/index.html">
          <i class="fab fa-js"></i>
        </a>
      </li>
      <li class="project-icon-css is-collection">
        <a href="../css-pg/index.html">
          <i class="fab fa-css3"></i>
        </a>
      </li>
    </ul> 

    <div class="projects-grid">

      {% for project in htmlCssWorks %}
      <div class="project">
        <img
          src="{{ project.imgUrl }}" 
          alt="{{ project.description }}" 
          class="project-img">
        
        <div class="hidden-cover">
          <p class="projects-descript">
            {{ project.description }}
          </p>

          <ul class="project-links">
            <li class="link">
              <a
                href="{{ project.siteUrl }}"
                target="_blank"
                class="project-btn-site">SITE</a>
            </li>
            <li class="link">
              <a
                href="{{ project.codeUrl }}"
                target="_blank"
                class="project-btn-code">CODE</a>
            </li>
          </ul>
        </div>

      </div>
      {% endfor %}

    </div>
